* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Impact, Charcoal, sans-serif;
	background: #55b9f3;
	margin: 0;
	color: #342e09;
}

a {
	text-decoration: none;
	color: #342e09;
}

header,
footer {
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0px;
	padding: 8px 0 0 0;
}

header,
main,
.gg-2-cols {
	display: grid;
}

header {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12),
		0 4px 2px -2px rgba(0, 0, 0, 0.2);
	top: 0;
	background: #fc7307;
	border-bottom: thick solid yellow;
	grid-template-columns: 64px auto;
}

#burger {
	cursor: pointer;
	padding: 6px 0 0 12px;
}

.gg-bar {
	width: 35px;
	height: 3px;
	background-color: #342e09;
	margin: 5px 0;
}

header h1 {
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

nav a {
	padding: 8px;
	font-size: 1.3em;
	display: block;
}

nav h2 {
	font-size: 2em;
	padding: 32px;
	border-bottom: thick solid yellow;
}

.gg-navbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 66vw;
	background-color: #fc7307;
}

.gg-modal {
	position: fixed;
	left: 66vw;
	top: 0;
	height: 100vh;
	width: 34vw;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

main {
	padding: 60px 16px;
	width: 100%;
	height: 100vh;
	font-size: 3vh;
}

@media screen and (orientation: portrait) {
	main {
		grid-template-rows: 50% 50%;
	}

	.gg-2-rows {
		align-content: space-around;
		row-gap: 10vw;
	}

	button-start button {
		width: 40vw;
		height: 40vw;
	}

	.gg-font-xl {
		font-size: 20vw !important;
	}

	.gg-font-l {
		font-size: 10vw !important;
	}

	.gg-button-m {
		height: 16vw;
		width: 16vw;
	}
}

@media screen and (orientation: landscape) {
	main {
		grid-template-columns: 50% 50%;
	}

	.gg-2-rows {
		align-content: center;
		row-gap: 10vh;
	}

	button-start button {
		width: 50vh;
		height: 50vh;
	}

	.gg-font-xl {
		font-size: 25vh !important;
	}

	.gg-font-l {
		font-size: 10vh !important;
	}

	.gg-button-m {
		height: 18vh;
		width: 18vh;
	}
}

.gg-button-m {
	border-width: medium;
	font-size: 3vh;
}

footer {
	box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.14), 0 1px 9px 2px rgba(0, 0, 0, 0.12),
		0 -2px 2px 4px rgba(0, 0, 0, 0.2);
	bottom: 0;
	padding: 8px 8px;
	background: #342e09;
	color: #fc7307;
}

footer.hr {
	border-color: yellow;
}

footer a {
	color: #fc7307;
}

button,
.gg-range-div {
	background: linear-gradient(145deg, #5bc6ff, #4da7db);
	box-shadow: 5px 5px 11px #489dcf, -5px -5px 11px #62d5ff;
	border: thick solid #fc7307;
	text-align: center;
	border-radius: 100%;
	color: #342e09;
	cursor: pointer;
}

button:active,
.gg-range-div:active,
.gg-on {
	box-shadow: inset 22px 22px 43px #489dcf, inset -22px -22px 43px #62d5ff;
	background: linear-gradient(145deg, #5bc6ff, #4da7db);
	border-color: lightGreen;
	color: lightGreen;
}

.gg-pad,
form {
	padding: 16px;
}

.gg-pad-right {
	padding-right: 16px;
}

.gg-left-panel {
	display: grid;
	grid-template-columns: 30% 70%;
}

.gg-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gg-right {
	position: relative;
	top: 50%;
	text-align: right;
	transform: translate(0, -50%);
}

form {
	max-width: 800px;
	margin: auto;
	height: 100%;
}

.gg-2-rows {
	display: grid;
	grid-template-rows: 20% 20%;
}

.gg-3-rows {
	display: grid;
	grid-template-rows: 20% 20% 20%;
	grid-row-gap: 8px;
	align-content: space-around;
}

.gg-4-rows {
	display: grid;
	grid-template-rows: 20% 20% 20% 20%;
	grid-row-gap: 16px;
	align-content: center;
}

.gg-2-cols {
	display: grid;
	grid-template-columns: 30% 70%;
	align-content: center;
	grid-gap: 8px;
	text-align: center;
	line-height: 30px;
}

.gg-3-cols {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-gap: 8px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

input,
select,
.gg-range-div {
	background-color: #fc7307;
	border-width: thin;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
}

option {
	text-align: center;
}

.gg-number {
	display: inline-block;
	width: 20%;
	color: #fc7307;
}

.t {
	color: #f7e3d4;
	color: #fc7307;
	color: #55b9f3;
	color: #fddc22;
	color: #342e09;
}
