<label for="js-tempo">Tempo: <span id="js-tempoDisplayed">60</span> (BPM)</label>
<x-tempo-input class="flex h-[30px] w-full items-center justify-between space-x-[8px]">
    <button class="border-orange border-[1px] rounded-[20px] w-[120px] shadow-lg bg-gradient-to-br from-[#5bc6ff] to-[#4da7db]"
            onclick="
                            document.getElementById('js/tempo').valueAsNumber -= 1
                            // we dispatch event so that we can update the label too
                            document.getElementById('js-tempo').dispatchEvent(new Event('input', { bubbles: true }))
                "
    >-
    </button>
    <input type="range" name="tempo" id="js-tempo" min="1" max="240" value="60" class="w-full" data-default="60"
           oninput="
                            document.getElementById('js-tempoDisplayed').textContent = this.valueAsNumber
                            localStorage.setItem('tempo', this.valueAsNumber)
                        "
           list="markers"
    >
    <button class="border-orange border-[1px] rounded-[20px] w-[120px] shadow-lg bg-gradient-to-br from-[#5bc6ff] to-[#4da7db]"
            onclick="
                            document.getElementById('js-tempo').valueAsNumber += 1
                            // we dispatch event so that we can update the label too
                            document.getElementById('js-tempo').dispatchEvent(new Event('input', { bubbles: true }))
"
    >+
    </button>
    <datalist id="markers">
        <option value="60"></option>
        <option value="90"></option>
        <option value="120"></option>
        <option value="180"></option>
    </datalist>
    <script>
			window.updateTempo = function(tempo) {
				document.getElementById('js-tempo').value = tempo
				// we dispatch event so that we can update the label too
				document.getElementById('js-tempo').dispatchEvent(new Event('input', { bubbles: true }))
			}
    </script>
</x-tempo-input>
