<button id="reset"
        class="
            border-orange border-[5px] rounded-full shadow-lg bg-gradient-to-br from-[#5bc6ff] to-[#4da7db]
            active:text-lightGreen active:border-lightGreen active:shadow-inner
">
    <i class="material-icons text-[10vw] p-[10px]" title="refresh">replay</i>
</button>