<button id="start"
        class=
            "border-orange border-[5px] rounded-full
            shadow-lg bg-gradient-to-br from-[#5bc6ff] to-[#4da7db]
        "
        aria-label="start"
>
    <i class="material-icons text-[20vw] p-[40px]" title="start">touch_app</i>
</button>