<dialog class="
    w-[90vw] h-[50vh]
    bg-lightOrange
    border-orange border-[5px] rounded-[24px]
    p-[12px]
">
    <x-content class="flex flex-col justify-between block h-full">
       <button autofocus class="
            border-[5px] rounded-[12px]
            bg-orange
            w-[4em]
            self-end
        ">
            <i class="material-icons text-[24px]">highlight_off</i>
        </button>
        <p>{{ help_message }}</p>
        <x-pusher></x-pusher>
    </x-content>
</dialog>
<script>
	const dialog = document.querySelector("dialog");
	const showButton = document.querySelector("#help");
	const closeButton = document.querySelector("dialog button");

	// Le bouton "Afficher la fenêtre" ouvre le dialogue
	showButton.addEventListener("click", () => {
		dialog.showModal();
	});

	// Le bouton "Fermer" ferme le dialogue
	closeButton.addEventListener("click", () => {
		dialog.close();
	});

</script>