@charset "utf-8";

$light: #f7e3d4;
$secondaryColor: #fc7307;
$primaryColor: #55b9f3;
$highLighColor: #fddc22;
$dark: #342e09;

$lowGap: 8px;
$mediumGap: 12px;
$mediumGap2: 16px;
$large: 60px;

$fontFamily: 'Roboto', Impact, Charcoal, sans-serif;

%smallFont {
	font-size: 2em;
}

%mediumFont {
	font-size: 3vh;
}

%largeFont {
	font-size: 9vh;
}

@font-face {
	font-family: $fontFamily;
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;
	background: $primaryColor;
	margin: 0;
	color: $dark;
}

a {
	text-decoration: none;
	color: $dark;
}

%position {
	height: $large;
	width: 100%;
	position: fixed;
	left: 0px;
	padding: $lowGap 0 0 0;
}

%borderBottom {
	border-bottom: thick solid $highLighColor;
}

header {
	@extend %position;
	@extend %borderBottom;

	display: grid;
	box-shadow:
		0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 2px 9px 1px rgba(0, 0, 0, 0.12),
		0 4px 2px -2px rgba(0, 0, 0, 0.2);
	top: 0;
	background: $secondaryColor;
	grid-template-columns: 64px auto;

	h1 {
		@extend %smallFont;
		font-weight: 400;
		margin: 0;
		text-transform: capitalize;
	}
}

footer {
	@extend %position;
	box-shadow:
		0 0 5px 4px rgba(0, 0, 0, 0.14),
		0 1px 9px 2px rgba(0, 0, 0, 0.12),
		0 -2px 2px 4px rgba(0, 0, 0, 0.2);
	bottom: 0;
	padding: $lowGap $lowGap;
	background: $dark;

	span,
	a {
		color: $secondaryColor;
	}

	.hr {
		border-color: $highLighColor;
	}
}

#burger {
	cursor: pointer;
	padding: 6px 0 0 $mediumGap;

	.gg-bar {
		width: 35px;
		height: 3px;
		background-color: $dark;
		margin: 5px 0;
	}
}

%commonNav {
	position: fixed;
	top: 0;
	height: 100vh;
}

nav {
	@extend %commonNav;

	$navWidth: 66vw;

	left: 0;
	z-index: 100;

	a {
		padding: $lowGap;
		@extend %smallFont;
		display: block;
		text-transform: capitalize;
	}

	h2 {
		@extend %borderBottom;
		@extend %smallFont;
		padding: 32px;
	}

	.gg-navbar {
		@extend %commonNav;
		left: 0;
		width: $navWidth;
		background-color: $secondaryColor;
	}

	.gg-modal {
		@extend %commonNav;
		left: $navWidth;
		width: 100 - $navWidth;
		background: rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
}

main {
	display: grid;
	top: $large;
	width: 100%;
	position: fixed;
	padding: 0px $mediumGap2;
	@extend %mediumFont;
}

form {
	padding: $mediumGap2;
	max-width: 800px;
	margin: auto;
	height: 100%;

	label {
		display: block;
		text-align: center;
	}
}

option {
	text-align: center;
}

%buttonCommon {
	background: linear-gradient(145deg, #5bc6ff, #4da7db);
	box-shadow:
		5px 5px 11px #489dcf,
		-5px -5px 11px #62d5ff;
	border: thick solid $secondaryColor;
	text-align: center;
	border-radius: 100%;
	color: $dark;
	cursor: pointer;
}

.gg-button-m {
	@extend %buttonCommon;
	border-width: medium;
	@extend %mediumFont;
}

.gg-button {
	@extend %buttonCommon;
}

.gg-range-div {
	@extend %buttonCommon;
}

button:active,
.gg-range-div:active,
button.gg-on {
	box-shadow:
		inset 22px 22px 43px #489dcf,
		inset -22px -22px 43px #62d5ff;
	background: linear-gradient(145deg, #5bc6ff, #4da7db);
	border-color: lightGreen;
	color: lightGreen;
}

.gg-pad {
	padding: $mediumGap2;
}

.gg-pad-right {
	padding-right: $mediumGap2;
}

.gg-left-panel {
	display: grid;
	grid-template-columns: 30% 70%;
}

.gg-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gg-right {
	position: relative;
	top: 50%;
	text-align: right;
	transform: translate(0, -50%);
}

%gridRow {
	display: grid;
	grid-row-gap: $lowGap;
}

.gg-2-rows {
	@extend %gridRow;
	grid-template-rows: 20% 20%;
}

.gg-3-rows {
	@extend %gridRow;
	grid-template-rows: 20% 20% 20%;
	align-content: space-around;
}

.gg-4-rows {
	@extend %gridRow;
	grid-template-rows: 20% 20% 20% 20%;
	align-content: center;
}

%gridColumn {
	display: grid;
	text-align: center;
	grid-gap: $lowGap;
	line-height: 30px;
}

.gg-2-cols {
	@extend %gridColumn;
	align-content: center;
	grid-template-columns: 30% 70%;
}

.gg-3-cols {
	@extend %gridColumn;
	height: 30px;
	grid-template-columns: 20% 60% 20%;
}

input,
select,
.gg-range-div {
	background-color: $secondaryColor;
	border-width: thin;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
}

.gg-number {
	display: inline-block;
	width: 20%;
	color: $secondaryColor;
}

.material-icons.gg-help {
	@extend %smallFont;
}

.gg-2-cols.gg-help {
	grid-template-columns: auto auto;
	text-align: left;
}

.gg-nav {
	padding-top: 3px;
	background-color: $primaryColor;
	border-radius: $mediumGap;
	width: 4em;
	position: absolute;
	right: $mediumGap;
}

.gg-err {
	height: 100%;
	margin-top: 35%;
	@extend %largeFont;
	color: $secondaryColor;
	background-color: $dark;
	border: $secondaryColor solid 5px;
	text-align: center;
	display: flex;
	align-items: center;
}

#help-box {
	position: fixed;
	left: 5vw;
	top: 25vh;
	width: 90vw;
	height: 50vh;
	background-color: $light;
	border-radius: 24px;
	border: $secondaryColor solid 5px;
	z-index: 2;
	@extend %mediumFont;
}

#close-help {
	top: $mediumGap;
	background-color: $secondaryColor;
}

.help-print {
	margin: 18vh $mediumGap;
}

@media screen and (orientation: portrait) {
	.gg-4-rows {
		grid-row-gap: $mediumGap2;
	}

	main {
		grid-template-rows: 50% 50%;
		min-height: 80vh;
	}

	.gg-2-rows {
		align-content: space-around;
		row-gap: 10vw;
	}

	button-start button {
		width: 40vw;
		height: 40vw;
	}

	.gg-font-xl {
		font-size: 20vw !important;
	}

	.gg-font-l {
		font-size: 10vw !important;
	}

	.gg-button-m {
		height: 16vw;
		width: 16vw;
	}
}

@media screen and (orientation: landscape) {
	.gg-4-rows {
		grid-row-gap: $lowGap;
	}

	main {
		grid-template-columns: 50% 50%;
		min-height: 65vh;
	}

	.gg-2-rows {
		align-content: center;
		row-gap: 10vh;
	}

	button-start button {
		width: 50vh;
		height: 50vh;
	}

	.gg-font-xl {
		font-size: 25vh !important;
	}

	.gg-font-l {
		font-size: 10vh !important;
	}

	.gg-button-m {
		height: 15vh;
		width: 15vh;
	}
}
